#app {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: #3affd0;
    text-shadow: 0px 1px 4px #79beae;
    background-color: rgb(0, 0, 0, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    z-index: 1;
    overflow: hidden;
    animation: zoomIn 1s ease;

    div {
      opacity: 0;
    }

    &__name {
      font-family: "Aleo", serif;
      font-weight: 500;
      font-size: 4rem;
      animation: fade 1s ease 1.25s forwards;
    }
    &__text {
      font-size: 2rem;
      animation: fade 1s ease 1.5s forwards;
    }
    &__info {
      margin-top: 1rem;
      animation: fade 1s ease 2s forwards;
      display: flex;
      align-self: center;
      column-gap: 2rem;
      > a {
        transition: all 0.33s ease;
        cursor: pointer;
        > img {
          width: 2.5rem;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &__wip {
      margin-top: 2rem;
      align-self: center;
      font-size: 1.25rem;
      animation: fade 1s ease 2.5s forwards;
      > span {
        display: inline-block;
        animation: blink 2s ease-in-out infinite;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .card {
      padding: 1rem;
      margin: 0.5rem;
      &__name {
        font-size: 2.67rem;
      }
      &__text {
        font-size: 1rem;
      }
      &__info {
        > a {
          > img {
            width: 1.5rem;
          }
        }
      }
      &__wip {
        font-size: 1rem;
      }
    }
  }

  .scene {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to top, #000000 0%, #000032 100%);

    span {
      position: absolute;
      background: #fff;
      will-change: transform, opacity;
      animation: star-animation linear infinite;
    }
  }
}
